S3method(plot,sclm)
S3method(predict,sclm)
S3method(print,sclm)
S3method(summary,sclm)
export(CovMat)
export(EM.sclm)
export(MCEM.sclm)
export(SAEM.sclm)
export(dist2Dmatrix)
export(rCensSp)
importFrom(MomTrunc,meanvarTMD)
importFrom(Rcpp,sourceCpp)
importFrom(Rdpack,reprompt)
importFrom(ggplot2,aes,geom_line,ggplot,labs,theme_bw)
importFrom(gridExtra,grid.arrange)
importFrom(mvtnorm,dmvnorm,pmvnorm,rmvnorm)
importFrom(relliptical,rtelliptical,mvtelliptical)
importFrom(stats,quantile)
importFrom(StempCens,EffectiveRange)
useDynLib(RcppCensSpatial, .registration = TRUE)
